div.ui-datepicker, div.ui-datepicker table{
}

div.datetime input.datepicker {
	height: 28px;
	width: 55%;
}

div.datetime div.hourmin {
	width: 40%;
	float: right;
}
div.datetime div.hourmin select {
 width: 40%;
}

.row-fluid {
	margin-bottom: 25px;
}

fieldset.ukmfieldset {
	width: 750px;
}


ol#tilbud label {
font-weight: normal;
}
ol#tilbud .title {
 width: 180px;
}
ol#tilbud li div {
 float: left;
 width: 40px;
}
ol#tilbud > li {
 clear: both;
}