<img src="//ico.ukm.no/chart-256.png" style="float:right;" width="200" />
<h1>Vedlikehold undersider</h1>

<p class="lead">
    Hvis en eller flere mønstringer mangler, eller har feil oppsatte undersider, 
    kan denne oppdateringen med trygghet kjøres for å automatisk rette alle.
</p>

<p>
    Ved å trykke på knappen vil systemet gå gjennom alle blogger,
    sjekke om de har de riktige sidene, og opprette/endre ved behov.
    <br />
    Denne sjekken oppretter de samme sidene som opprettes når en ny sesong / blogg
    settes opp.
</p>

<p>
    <a href="?page={{ GET('page') }}&action=undersider_update&offset={{ offset }}" class="btn btn-success">Oppdater alle blogger</a>
</p>