<img src="//ico.ukm.no/hus-256.png" style="float:right;" width="200" />
<h1>Administrer mønstringer</h1>

<p class="lead">Herfra kan du administrere alle mønstringer</p>

<p>
	Alle verktøy på denne siden guider deg trygt gjennom endringen av mønstringer.
	Skulle du få opp et varsel om at en endring har feilet og krever database-oppdatering,
	eller at du ikke skal prøve igjen; IKKE PRØV IGJEN.
</p>

<div class="clearfix"></div>

<p>&nbsp;</p>

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<div class="well well-sm">
			<p>
				<b>Opprett mønstring</b>
			</p>
			<p>
				Du kan opprette en ny mønstring for alle kommuner/bydeler
				som ikke er tilknyttet en mønstring.
			</p>
			<p>
				<a href="?page=UKMmonstring_network_admin_rome_opprett" class="btn btn-xs btn-primary">Finn kommune</a>
			</p>
		</div>
	</div>
	
	
	<div class="col-xs-12 col-sm-3">
		<div class="well well-sm">
			<p>
				<b>Avlys mønstring</b>
			</p>
			<p>
				Hvis en kommune som har en mønstring alene skal legges til i en annen mønstring,
				starter du med å avlyse mønstringen.
			</p>
			<p>
				<a href="?page=UKMmonstring_network_admin_rome_avlys" class="btn btn-xs btn-primary">Finn kommune</a>
			</p>
		</div>
	</div>
	

	<div class="col-xs-12 col-sm-3">
		<div class="well well-sm">
			<p>
				<b>Legg til kommune i mønstring</b>
			</p>
			<p>
				For å slå sammen mønstringer, legger du til en kommune i en annen kommunes mønstring.
				Velg siden med minst informasjon på, avlys denne mønstringen, og legg deretter kommunen
				til sammen med den/de andre kommunen(e).
			</p>
			
			<p>
				<a href="?page=UKMmonstring_network_admin_rome_legg_til" class="btn btn-xs btn-primary">Finn kommune</a>
			</p>
		</div>
	</div>
	
		
	<div class="col-xs-12 col-sm-3">
		<div class="well well-sm">
			<p>
				<b>Trekk kommune ut av mønstring</b>
			</p>
			<p>
				Hvis en kommune trekker seg ut, enten for at de ikke skal være med, eller for at
				de skal arrangere mønstring alene, trekker du kommunen ut av mønstringen.
				Deretter kan du velge å opprette en egen mønstring for kommunen, eller legge
				den til i en annen mønstring.
			</p>
			<p>
				<a href="?page=UKMmonstring_network_admin_rome_trekk_ut" class="btn btn-xs btn-primary">Finn kommune</a>
			</p>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<p>&nbsp;</p>
<h3>Sett opp ny sesong</h3>
<p>
	Menyvalget "Opprett sesong" lar deg opprette en helt ny UKM-sesong.
	Du kan trygt trykke deg inn der for å se hva menyvalget byr på av muligheter,
	og lese om hvordan en ny sesong settes opp.
</p>
<p>
	Å sette opp ny sesong krever en del tid (spesielt HTML-arkiveringen), 
	og er beregnet på å kjøre i august/september.
	<br />
	<b>MERK:</b> Festivalsiden forsvinner så fort ny sesong er satt opp
</p>
<p>
	Pass på at du ikke trykker deg for langt videre i prosessen, 
	da du plutselig kan ende opp med å opprette en ny sesong når du ikke skal det.
</p>
<p>
	<a href="?page=UKMmonstring_network_admin_ny_sesong" class="btn btn-xs btn-warning">
		Les mer og kom i gang med å sette opp ny sesong
	</a>
</p>

<p style="margin-bottom: 3em;">&nbsp;</p>