<div class="row" style="margin-top: 3em;">
    <div class="col-12 col-sm-12">
        <h4 class="mt-0">Videresending</h4>
        <p style="margin-top: 0.8em;">
            {% if arrangement.harPamelding() %}
                I tillegg til direkte påmelding, kan du også ta i mot videresendte fra andre arrangementer. 
            {% endif %}
            Du velger selv hvem som får videresende til ditt arrangement, og kan definere kvoter og ordninger selv.
            Fristen for å videresende er den samme som påmeldingsfristene.
        </p>
        {% if not arrangement.harPamelding() %}
            <p>
                Fordi arrangementet ikke har direkte påmelding, kommer alle deltakerne som videresending fra andre arrangementer.
            </p>
        {% endif %}
        <div>
            <label>Vil du ta i mot videresending fra andre arrangementer?</label>
            <br/>
            <div class="btn-group radioButtons" data-name="tillatVideresending">
                <button type="button" class="btn btn-default {{arrangement.harVideresending()?'selected'}}" value="true">
                    &nbsp; Ja &nbsp;</button>
                <button type="button" class="btn btn-default {{not arrangement.harVideresending()?'selected'}}" value="false">
                    &nbsp; Nei &nbsp;</button>
            </div>
        </div>
    </div>
</div>
<div id="videresending_detaljer" style="{% if not arrangement.harVideresending() %}display:none;{% endif %} margin-top:2em;">
    {% include "Monstring/frist_videresending.html.twig" %}
    {% include "Monstring/avsendere.html.twig" %}
    {% include "Monstring/infotekst.html.twig" %}
    {% include "Monstring/skjema.html.twig" %}
    {% include "Monstring/nominasjon.html.twig" %}
</div>
