<div class="col-xs-12 col-sm-8">
	<h1>Opprett ny sesong: oppretter mønstringer</h1>
	<div class="alert alert-danger">
		<h4>
			Ikke forlat denne siden før alt er ferdig!
		</h4>
		<p>
			Du vil få en grønn "alle mønstringer er opprettet" nederst på denne siden så fort alle mønstringer er opprettet.
			<br />
			Før du forlater siden bør du se over om det er noen alvorlige feil på noen av mønstringene
		</p>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Mønstring</th>
			<th>Status</th>
			<th>Kommuner</th>
			<th>Kontaktpersoner</th>
		</tr>
	</thead>
	{# SCRIPTET RENDRER FLERE ukmdb-do-status (rader) før den avslutter tabellen i ukmdb-do-stop #}