<h1>Opprett ny sesong: Er du klar?</h1>
<p class="lead">Dette vil lage nye mønstringsobjekter for {{ seasons.new.year }}-sesongen, og lagre disse til databasen.</p>

<a href="?page={{ GET('page') }}&action={{ GET('action') }}&init=start" class="btn btn-danger">Jeg er klar!</a>