</table>

<div class="col-xs-12 col-sm-8">
	<div class="alert alert-success">
		<h4>
			Alle mønstringer er opprettet!
		</h4>
		<p>
			Du kan nå forlate denne siden, og gå videre til 
			<a href="?page={{ GET('page') }}">steg 2</a>
		</p>
	</div>
</div>