</table>

<div class="col-xs-12 col-sm-8">
	<div class="alert alert-success">
		<h4>
			Alle mønstringer er opprettet!
		</h4>
		<p>
			<a href="?page={{ GET('page') }}" class="btn btn-success">
				Du kan nå gå videre til steg 2
			</a>
		</p>
	</div>
</div>