<div class="col-xs-12 col-sm-8">
	<h1>Opprett ny sesong: oppdater sites</h1>
	<p class="lead">Dette scriptet tar deg gjennom alle bloggene i nettverket og oppdaterer innstillingene på disse</p>
	
	<p>
		Når du har gjort dette på alle sider vil alle sider i nettverket være
		tilknyttet en side i {{ seasons.new.year }}-sesongen, eller deaktivert
		(og dermed vise pekere til riktige kommune-sider)
	</p>
	
	<p>
		<a href="?page={{ GET('page') }}&action={{ GET('action') }}&start=0&stop=10" class="btn btn-warning">
			Oppdater alle blogger
		</a>
	</p>

	<p>
		<i>
			Når du trykker "opprett" vil database-endringene starte. Hittil er ingen endringer gjort.
		</i>
	</p>
	
</div>