<style>
    .table.table-dashboard > thead.danger > tr > th {
        background-color: #ff128b;
    }
</style>
<table class="table table-dashboard noborder">
	<thead class="danger">
		<tr>
			<th>Må du avlyse {{ arrangement.erFerdig() ? 'videresending' : 'UKM' }}?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="row">
                Hvis ditt arrangement er avlyst, eller
                arrangementet du skal sende deltakere videre til er avlyst,
                kan du legge inn informasjon her.

                <br />
                <a href="?action=avlys" class="btn btn-ukm btn-primary btn-sm pull-right">Legg inn informasjon</a>
                <div class="clearfix"></div>
            </td>
		</tr>
	</tbody>
</table>
