<table class="table table-dashboard noborder">
	<thead>
		<tr>
			<th>Påmeldte</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="pameldte">
				<div class="personer">{{ antall.personer }}</div>
				<div class="innslag">{{ antall.innslag }} innslag</div>
			</td>
		</tr>
	</tbody>
</table>