<h1>Avlys mønstring</h1>

<p class="lead">Du kan kun avlyse hele mønstringer. Skal bare noen av kommunene avlyse velger du "Trekk ut kommune".</p> 

<div class="col-xs-12 col-sm-8">
	<table class="table table-striped">
		{% for monstring in monstringer if monstring.getType() == 'kommune' %}
			<tr>
				<td>
					{{ monstring.getNavn() }}
					<br />
					<small>
						{{ monstring.getFylke() }}
					</small>
				</td>
				<td>
					{% if monstring.erSingelmonstring() %}
						<a href="?page={{ GET('page') }}&avlys={{ monstring.getId() }}" class="btn btn-block btn-danger">
							Avlys mønstringen
						</a>
					{% else %}
						<a href="?page=UKMmonstring_network_admin_rome_trekk_ut" class="btn btn-block btn-primary">
							Trekk ut en kommune
						</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>