<h1>Kunne ikke legge til kommunen i fellesmønstringen</h1>

<p class="lead">Systemet ga følgende tilbakemelding</p>

<div class="col-xs-12 col-sm-8">
	<p class="alert alert-error">
		{{ rapport.error }}
	</p>
</div>