<h1>Opprett mønstring</h1>

<p class="lead">Her kan du opprette en ny mønstring. Skal du opprette en egen mønstring for en kommune som allerede er del av en fellesmønstring må du bruke menyen "trekk ut kommune".</p>

<h3>Kommuner ikke tilknyttet noen mønstringer i {{ season }}-sesongen</h3>

<div class="col-xs-12 col-sm-8">
	<table class="table table-striped">
		{% for kommune in kommuner %}
			<tr>
				<th>
					{{ kommune.navn}}
				</th>
				<td style="text-align:right">
					<a href="?page={{ GET('page') }}&create={{ kommune.id }}" class="btn btn-success float-right">Opprett mønstring</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td class="alert-success">
					Alle registrerte kommuner er tilknyttet en mønstring!
				</td>
			</tr>
		{% endfor %}
	</table>
</div>