		<button type="submit" class="btn btn-success">Lagre</button>
				eller
				<a href="?page={{GET('page')}}">avbryt</a>
		<input type="hidden" name="type" value="infotekst" /> {# BRUKES FOR Å ANGI LAGRING #}
	</form>
</div>