        <p>&nbsp;</p>
		<button type="submit" class="btn btn-ukm btn-sm btn-success">Lagre</button>
				eller
				<a href="index.php">avbryt</a>
		<input type="hidden" name="type" value="infotekst" /> {# BRUKES FOR Å ANGI LAGRING #}
	</form>
</div>