<h2>{% if id == 'new' %}Legg til ny kontaktperson{% else %}Rediger {{name}} {% endif %}</h2>
<form method="POST">
	<div id="hugesubmit"><div id="lagre">Lagre</div></div>

	<fieldset class="ukmfieldset">
		<legend>Basisinformasjon</legend>
	
		<div class="row-fluid">
		    <div class="span6">
				<label for="firstname">Fornavn</label>
				<input class="input-block-level" type="text" id="firstname" name="firstname" value="{{firstname}}" autofocus>
		    </div>
		    <div class="span6">
				<label for="lastname">Etternavn</label>
				<input class="input-block-level" type="text" id="lastname" name="lastname" value="{{lastname}}">
		    </div>
		</div>

		<div class="row-fluid">
		    <div class="span6">
				<label for="phone">Telefon (mobil)</label>
				<input class="input-block-level" type="tel" id="phone" name="phone" value="{{phone}}">
				Dette bør være mobiltelefon, spesielt hos hovedkontakt
		    </div>
		    <div class="span6">
				<label for="email">E-post</label>
				<input class="input-block-level" type="email" id="email" name="email" value="{{email}}">
		    </div>
		</div>

		<div class="row-fluid">
		    <div class="span6">
				<label for="title">Tittel</label>
				<input class="input-block-level" type="text" id="title" name="title" value="{{title}}">
		    </div>
		    <div class="span6">
				<label for="facebook">Facebook</label>
				<input class="input-block-level" type="text" id="facebook" name="facebook" value="{{facebook}}">
				Full adresse til din facebook-profil. 
				Kopier adressen ved å høyreklikke på ditt eget navn, og velge "kopier lenkeadresse"
				Adressen skal se ca slik ut:<br />
				http://facebook.com/UKMNorge
		    </div>
		</div>

	</fieldset>


	<fieldset class="ukmfieldset">
		<legend>Bilde</legend>
		Ungdommene setter stor pris å se hvem de kontakter, og du bør derfor laste opp et bilde
		<div class="clearfix"></div>
		<img src="{{image}}" class="thumbnail pull-left" width="250" />
		<div class="actions pull-left">
			<div class="action">
				<a href="#" class="edit">
					<img src="//ico.ukm.no/pencil-32.png" /> Bytt bilde
				</a>
			</div>
			<div class="action">
				<a href="#" class="delete">
					<img src="//ico.ukm.no/trash-32.png" /> Slett bilde
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</fieldset>
	
	{% if is_fellesmonstring %}
	<fieldset class="ukmfieldset">
		<legend>Kommune-tilhørighet</legend>
		<select name="kommune" class="pull-right">
			{% for komm in kommuner %}
			<option value="{{kommune.id}}" {% if komm.id == kommune %}selected="selected"{% endif %}>{{komm.name}}</option>
			{% endfor %}
		</select>
		<p>
			Ved påmelding vises kun 1 kontakt for den kommunen deltakerne melder seg på.
			Oppgi kommune her, og sorter listen på "mønstring" for å angi hvem som vises som kontakt for hvilken kommune.
		</p>
	</fieldset>
	{% endif %}
	
	<fieldset class="ukmfieldset">
		<legend>Adresse-informasjon</legend>
		Oppgi adresse hvor deltakerne ta kontakt, f.eks. kontoradresse e.l.
	
		<div class="row-fluid">
		    <div class="span6">
				<label for="address">Adresse</label>
				<input class="input-block-level" type="text" id="address" name="address" value="{{address}}">
		    </div>
		    <div class="span6">
				<label for="postal">Postnummer</label>
				<input class="input-block-level" type="text" maxlength="4" id="postal" name="postal" value="{{postal}}">
		    </div>
		</div>
	</fieldset>
</form>