<h1>Din forside</h1>
<p class="lead">
	Hva gjør UKM hos deg unikt?
</p>
<p>
	For å gi tydeligere informasjon til deltakerne dine kan du nå redigere forsiden din selv. Denne siden kan brukes til å gi deltakerne dine mer konkret informasjon om ditt lokale UKM-miljø uten å bruke nyhetssaker - som gjerne begraves i arkivet.
</p>
<p>
	Det du lager her finner du igjen på forsiden din: <a href="http:{{ monstringsLink }}" target="_blank">http:{{ monstringsLink }}</a>.
</p>

<form method="POST">