<script type="text/javascript">
	UKMSEASON = {{season}};
</script>
<h2>Registrer mønstring</h2>

{% if message is defined %}
	<div class="alert alert-{{message.success ? 'success':'error'}}">
		{{message.body}}
	</div>
{% endif %}

<form method="POST">
	<div id="hugesubmit"><div id="lagre">Lagre</div></div>

	<input name="log_current_value_pl_name" type="hidden" value="{{name}}" />
	<input name="log_current_value_pl_place" type="hidden" value="{{place}}" />
	<input name="log_current_value_pl_start" type="hidden" value="{{start}}" />
	<input name="log_current_value_pl_stop" type="hidden" value="{{stop}}" />
	<input name="log_current_value_deadline" type="hidden" value="{{deadline1}}" />
	<input name="log_current_value_deadline2" type="hidden" value="{{deadline2}}" />
	<input name="takemeto" id="takemeto" type="hidden" value="home" />
	
	<fieldset class="ukmfieldset">
		<legend>Tid og sted</legend>
	
		<div class="row-fluid">
		    <div class="span6">
				<label for="pl_name">Mønstringsnavn</label>
				<input class="input-block-level" type="text" id="pl_name" name="pl_name" value="{{name}}" autofocus>
				Skal <b>kun</b> inneholde kommune-/bydelsnavn, og <b>aldri</b> "UKM i" o.l.<br />
				Fellesmønstringer kan bruke kallenavn som Valdres, Odalen osv
		    </div>
		    <div class="span6">
				<label for="pl_place">Hvor skal mønstringen være?</label>
				<input class="input-block-level" type="text" id="pl_place" name="pl_place" value="{{place}}">
				F.eks. kulturhuset, ungdomsklubben osv.
		    </div>
		</div>
	
		<div class="row-fluid">
		    <div class="span6 datetime">
				<label for="date_from_date">Når starter mønstringen?</label>
				{% embed "datetime.twig.html" with {'name': 'date_from', 'selected': start} %}{% endembed %}
		    </div>
		    <div class="span6 datetime">
				<label for="date_to_date">Når slutter mønstringen?</label>
				{% embed "datetime.twig.html" with {'name': 'date_to', 'selected': stop} %}{% endembed %}
		    </div>
		</div>
	</fieldset>
	
	
	
	<fieldset class="ukmfieldset">
		<legend>Påmeldingsfrist(er)</legend>
	
		<div class="row-fluid">
		    <div class="span6 datetime">
				<label for="pl_deadline_date">Påmeldingsfrist 1</label>
				{% embed "datetime.twig.html" with {'name': 'deadline', 'selected': deadline1} %}{% endembed %}
				Gjelder scene, video, utstilling, matkultur 
		    </div>
		    <div class="span6 datetime">
				<label for="pl_deadline2_date">Påmeldingsfrist 2</label>
				{% embed "datetime.twig.html" with {'name': 'deadline2', 'selected': deadline2} %}{% endembed %}
				Gjelder konferansier, nettredaksjon, arrang&oslash;r, sceneteknikk
		    </div>
		</div>
		
		<div class="alert alert-warning">
			<strong>OBS:</strong> 00:00 betyr <strong>innen</strong> datoen du har angitt. 23:55 betyr <strong>i l&oslash;pet av</strong> datoen du har angitt
		</div>
	
	</fieldset>
	
	
	<fieldset class="ukmfieldset">
		<legend>Hvem er kontaktpersoner for mønstringen?</legend>
		
		<ol class="unstyled" id="kontaktpersoner">
			{% for kontakt in kontaktpersoner %}
			<li class="well well-mini" id="{{kontakt.id}}">
				<img src="{{plugin_path}}img/draogslipp.png" height="50" />
				<div class="image">
					{% if kontakt.image %}
					<img src="{{kontakt.image}}" class="img-circle" />
					{% endif %}
					&nbsp;
				</div>
				<div class="name">
					<strong>{{kontakt.name}}</strong>
					<br />
					{{kontakt.title}}
					<br />
					{{kontakt.kommune}}
				</div>
				<div class="data">
					<span class="UKMSMS">{{kontakt.phone}}</span><br />
					<a href="mailto:{{kontakt.email}}">{{kontakt.email}}</a>
				</div>
				<div class="actions">
					<div class="action">
						<a href="#" class="edit">
							<img src="//ico.ukm.no/pencil-32.png" /> Endre
						</a>
					</div>
					<div class="action">
						<a href="#" class="delete">
							<img src="//ico.ukm.no/trash-32.png" /> Slett
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</li>
			{% else %}
			<li>Det er ikke lagt til noen kontaktpersoner enda</li>
			{% endfor %}
		</ol>
		<button type="button" class="pull-right btn btn-success" id="contact_new">Legg til ny kontaktperson</button>
	</fieldset>
	
	{% if kommuner|length > 1 %}
	<fieldset class="ukmfieldset">
		<legend>Hovedkontakter ved påmelding</legend>
		Ved påmelding velger deltakerne kommune, og i påmeldingsvinduet vil det alltid vises 1 kontaktperson for mønstringen. <br />
		Ettersom dette er en fellesmønstring kan du tilpasse hvilken kontakt som skal vises ved påmelding.<br /><br />
		Kontaktperson som vises i påmelding er den øverste (i listen over) med den gitte kommunen. Hvis du ikke oppgir kommune på dine kontaktpersoner vil den øverste kontakten vises for alle kommuner.
		<label>Hovedkontakter for din mønstring</label>
		<ol id="hovedkontakter" class="unstyled">
		{% embed "hovedkontakter.twig.html" %}{% endembed %}
		</ol>
	</fieldset>
	{% endif %}
	
	<fieldset class="ukmfieldset">
		<legend>Hva kan deltakerne melde på?</legend>
	
		<ol class="unstyled" id="tilbud">
			<li>
				<div class="title">Konferansier</div>
				<div class="yes">
					<label><input type="radio" value="true" name="tilbud_4" {{ tilbud_konferansier ? 'checked="checked"' : '' }}/> ja</label>
				</div>
				<div class="no">
					<label><input type="radio" value="false" name="tilbud_4" {{ tilbud_konferansier ? '' : 'checked="checked"' }}/> nei</label>
				</div>
			</li>
			<li>
				<div class="title">Nettredaksjon</div>
				<div class="yes">
					<label><input type="radio" value="true" name="tilbud_5" {{ tilbud_nettredaksjon ? 'checked="checked"' : '' }} /> ja</label>
				</div>
				<div class="no">
					<label><input type="radio" value="false" name="tilbud_5" {{ tilbud_nettredaksjon ? '' : 'checked="checked"' }}/> nei</label>
				</div>
			</li>
			<li>
				<div class="title">Arrangør</div>
				<div class="yes">
					<label><input type="radio" value="true" name="tilbud_8" {{ tilbud_arrangor ? 'checked="checked"' : '' }} /> ja</label>
				</div>
				<div class="no">
					<label><input type="radio" value="false" name="tilbud_8" {{ tilbud_arrangor ? '' : 'checked="checked"' }}/> nei</label>
				</div>
			</li>
			<li>
				<div class="title">Sceneteknikk (lyd og lys)</div>
				<div class="yes">
					<label><input type="radio" value="true" name="tilbud_9" {{ tilbud_sceneteknikk ? 'checked="checked"' : '' }} /> ja</label>
				</div>
				<div class="no">
					<label><input type="radio" value="false" name="tilbud_9" {{ tilbud_sceneteknikk ? '' : 'checked="checked"' }}/> nei</label>
				</div>
			</li>
			<li>
				<div class="title">Matkultur</div>
				<div class="yes">
					<label><input type="radio" value="true" name="tilbud_6" {{ tilbud_matkultur ? 'checked="checked"' : '' }} /> ja</label>
				</div>
				<div class="no">
					<label><input type="radio" value="false" name="tilbud_6" {{ tilbud_matkultur ? '' : 'checked="checked"' }}/> nei</label>
				</div>
			</li>
			<li>
				<div class="clearfix"></div>
			</li>
		</ol>		
	
		<div class="alert alert-info">
			<strong>Mønstringen tillater automatisk:</strong> Musikk, dans, teater, litteratur, annet på scenen, film og utstilling
		</div>
	</fieldset>
	
	{% if site_type == 'kommune' %}
	<fieldset class="ukmfieldset">
		<legend>Hvilke kommuner er del av denne mønstringen?</legend>
		{% for kommune in kommuner %}
			{{kommune.name}}
			{% if loop.last == false %}, {% endif %}
		{% endfor %}
		<div class="alert alert-info">
			Kun UKM Norge kan endre hvilke kommuner som er er med i mønstringen.
		</div>
	</fieldset>
	{% endif %}
	<input type="submit" name="submit" class="btn btn-small btn-primary" value="Lagre" />
</form>