<div class="row">

    <div class="col-12 col-sm-8">
        {% if arrangement.getVideresending().getAvsendere()|length > 0 %}
            <label>
                Arrangement som kan videresende til dette arrangementet
            </label>
        {% endif %}
        <ol class="list-group">
            {% for avsender in arrangement.getVideresending().getAvsendere() %}
                <li class="list-group-item">
                    <div class="pull-right">
                        <a href="?page={{GET('page')}}" class="btn btn-xs btn-danger delete">fjern tillatelse</a>
                    </div>
                    {{ avsender.getNavn()}}
                    <br/>
                    <small>
                        {% if avsender.erRegistrert() %}
                            {{ avsender.getStart()|dato('j. M y') }}
                        {% else %}
                            dato ikke satt
                        {% endif %}
                        |
                        {{ avsender.getEier().getNavn() }}
                        | 0 innslag
                        | 0 personer
                    </small>
                </li>
            {% else %}
                <li class="list-group-item text-danger">
                    Det er ingen som kan videresende til dette arrangementet, som betyr at det per n책 ikke kan f책 p책meldte.
                </li>
            {% endfor %}
            <li class="list-group-item">
                <a href="#">Gi arrangement tillatelse til 책 sende innslag hit</a>
            </li>
        </ol>
    </div>
</div>
