{% include "wp_modul.flashbag.html.twig" %}
<h2>Spørreskjema for de som videresender til {{ arrangement.getNavn() }}</h2>

<p class="lead">
    Skjemaet du lager her må fylles ut av alle som videresender til ditt arrangement.
    <br/>
    Du kan legge til så mange spørsmål du vil, og endre rekkefølgen ved å dra og slippe etterpå.
</p>

{% include "Skjema/editor.html.twig" with { form_type: 'arrangement', skjema: arrangement.getSkjema() } %}