<script type="text/javascript">
	UKMSEASON = {{season}};
</script>
<h2>Registrer mønstring er ikke klart </h2>

<p class="lead">
	Systemet er ikke gjort klart for registrering av {{season+1}}-sesongen enda. Så fort systemet er klart, sender UKM Norge ut nye passord til alle.
</p>

<div class="clearfix"></div>
