<h2>Videresending til
	{{ arrangement.getNavn() }}</h2>

<p>
	{% if arrangement.harPamelding() %}
		I tillegg til direkte påmelding, kan du også ta i mot videresendte fra andre arrangementer.
	{% else %}
		Fordi arrangementet ikke har direkte påmelding, kommer alle deltakerne som videresending fra andre arrangementer.
	{% endif %}
</p>


{#% include "Videresending/basics.html.twig" %}
{% include "Videresending/frist.html.twig" %}
{% include "Videresending/avsendere.html.twig" %}
{% include "Videresending/infotekst.html.twig" %}
{% include "Videresending/nominasjon.html.twig" %}
{% include "Videresending/ledere.html.twig" %}
{% include "Videresending/skjema.html.twig" %#}
