{% if not arrangement.harPamelding() %}
    <div class="row">
        <div class="col-12 col-sm-6">
            <label>Når åpner videresendingen?</label>
            <div class="input-group" style="margin-bottom: 1em;">
                <input class="datepicker_{{ arrangement.getType() == 'fylke' ? 'fylke_forward' : 'land' }} form-control" type="text" name="frist_2" value="{{ arrangement.getFrist2()|dato('d.m.Y') }}"/>
                <span class="input-group-addon">kl. 08:00</span>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <label>Når stenger videresendingen?</label>
            <div class="input-group" style="margin-bottom: 1em;">
                <input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="frist_1" value="{{ arrangement.getFrist1()|dato('d.m.Y') }}"/>
                <span class="input-group-addon">kl. 23:59</span>
            </div>
        </div>
    </div>
{% endif %}