<label>Informasjonstekst som vises til de som videresender</label>
{% if arrangement.getInformasjonstekst() is empty %}
	<p>
		Du har ikke lagt til informasjonstekst enda. Dette er frivillig, men anbefalt.
	</p>
	<p>
		Teksten vises ved videresending og er en god anledning til å skrive inn 
        kvoter, viktige regler, eller annen nyttig informasjon.
	</p>
{% else %}
	<div class="fade-collapsible">
		<div class="content">
			{{ arrangement.getInformasjonstekst()|raw }}
		</div>
		<div class="actions">
			<span class="icon dashicons dashicons-arrow-down-alt2"></span>
		</div>
	</div>
{% endif %}

<div class="clearfix"></div>
<p class="pull-right">
	<a href="#" class="goTo btn btn-ukm btn-xs btn-primary" data-action="infotekst">rediger informasjonstekst</a>
</p>

<div class="clearfix"></div>
