<div class="row" id="avsendere">
	<div class="col-12 col-sm-12">
        <ol class="list-group">
            <li class="list-group-item">
                <div class="vis-avsender-arrangement">
                    {% set openVideresendingIds = arrangement.getVideresending().getAvsendere()|map((arrang) => arrang.getId()) %}
                    
                    {% for reqAvsender in arrangement.getRequestVideresendingerTil().getAll() %}
                        {% set requestArrangement = reqAvsender.getArrangementFra() %}
                        <span class="avsender label label-{{ requestArrangement.getId() in openVideresendingIds ? 'success' : 'danger' }}" >
                        {{ requestArrangement.getNavn() }}
                        <svg class="{{ requestArrangement.getId() in openVideresendingIds ? '' : 'hide' }}" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 18 21" style="fill: #fff ;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
                        </span>
                    {% endfor %}
                </div>
            </li>
        </ol>
    </div>
</div>